body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
  	background-color: #24262b;
    align-items:center;
    justify-content:center;
    display: flex;
    justify-content: space-around;
   
  }
  
  #navbar a {
    font-size: 23px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  #navbar a:hover {
    color: #ffffff;
	padding-left: 8px;;
  }
  
  #navbar a.active {
    /* background-color: white; */
    color: white;
    align-items:center;
    justify-content:center;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky{
    padding-top: 60px;
  }
  