.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.522);
    color: white;
    text-align: center;
    justify-content: space-around;
    display: flex;
 }
 .links{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 25px;
 }

 .links:hover{
    background-color: #ddd;
    color: black;
    align-items:center;
    justify-content:center;
 }
 



